@import url('https://fonts.googleapis.com/css?family=Bitter|Peddana');
@import url('theme.css');
*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body
{
    background-color: var(--body-bg-color);
    font-family: 'Bitter', 'Peddana', Arial, Helvetica, sans-serif;
    max-width: 100vw;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    overflow-x: hidden;
}
a{
    color: var(--link-color);
}
img
{
    height: auto;
    width: 100%;
}

.btn-accent
{
    background-color: var(--bg-accent-color);
    color: var(--accent-text-color);
    padding: 10px 5px;
    max-width: 100%;
    text-align: center;
}

.err-msg
{
    color: red;
    font-size: .9em;
}

@supports(display: grid)
{
    .grid
    {
        display: grid;
        grid-template-columns: minmax(10vw,22vw) auto minmax(10vw,22vw);
        grid-template-rows: 350px auto 50px;
        grid-template-areas: 
            "header header header"
            "main main main"
            "footer footer footer";
        min-height: 100vh;
    }

    .grid header
    {
        background: url('../media/header.jpg');
       /*  background-attachment: fixed; */
        background-repeat: no-repeat;
        background-size: cover;
        background-position:  center;
        background-position-y: -20px;
        grid-area: header;
    }

    .grid header #topHeader
    {
        background-color: rgba(0,0,0, .25);
        display: grid;
        text-align: center;
        height: 100%;
        width: 100%;
    }
    
    .grid header #topHeader h1
    {
        color: var(--header-font-color);
        font-family: 'Peddana';
        font-size: 82px;
        font-weight: 500;
        margin-top: 100px;
    }

    .grid main nav
    {
        background-color: var(--primary-nav-bg-color);
        display: grid;
        grid-auto-flow:column;
        justify-content: space-between;
        align-items: center;
        height: 50px;
        padding: 0 20vw;
    }

    .grid main nav a
    {
        color: var(--primary-link-color);
        font-family: 'Bitter';
        text-decoration: none;    
    }

    .grid main nav .active
    {
        text-decoration: underline;
        text-decoration-color: var(--primary-link-active-color);
    }

    .grid main nav a:hover
    {
        text-decoration: underline;
        text-decoration-color: var(--primary-link-active-color);
        /*border-bottom: 1px solid var(--primary-link-active-color);*/
    }

    .grid main
    {
        grid-area: main;
        width: 100%;
    }

    .container
    {
        min-width: 50vw;
        max-width: 60vw;
        margin: 0 auto;
    }

    .grid footer
    {
        background-color: var(--footer-bg-color);
        color: var(--footer-text-color);
        grid-area: footer;
        padding: 15px 22vw; 
    }

    .grid footer section
    {
        display: flex;
        justify-content: space-between;
        padding: 0 20px;
    }

    #aboutGrid
    {
        display: grid;
        grid-template-areas: 
            "aboutContent sideBar"
            "usedProducts sideBar";
        grid-template-columns: 8fr 3fr;
        grid-column-gap: 15px;
        font-family: 'Bitter';
        margin-top: 15px;
    }
    #aboutGrid #aboutContent
    {
        grid-area: aboutContent;
        background-color: var(--primary-content-bg-color);
        padding: 10px;
        margin-bottom: 15px;
    }
    #aboutGrid #aboutContent h1
    {
        margin-bottom: 10px;
    }
    #aboutGrid #usedProducts
    {
        background-color: var(--primary-content-bg-color);
        grid-area: usedProducts;
        margin-bottom: 15px;
        padding: 20px 10px;
    }
    #aboutGrid #usedProducts .products
    {
        display: flex;
    }
    #aboutGrid #usedProducts .products .product-item
    {
        display: flex;
        flex-direction: column;
        margin: 5px 20px;
    }
    #aboutGrid #usedProducts .products .product-item .product-info
    {
        background-color: var(--bg-accent-color);   
        color: var(--accent-text-color);
        padding: 5px;
    }    
    #aboutGrid #aboutSidebar
    {
        grid-area: sideBar;
    }
    #aboutGrid #aboutSidebar form
    {
        background-color: var(--bg-accent-color);
        padding: 5px;
        margin-bottom: 15px;
        width: 100%;
    }
    #aboutGrid #aboutSidebar form input
    {
        width: 100%;
        height: 30px;
        padding: 5px;
    }
    #aboutGrid #aboutSidebar article
    {
        background-color: var(--primary-content-bg-color);
        display: grid;
        grid-template-columns: 1;
        grid-row-gap: 5px;
        font-size: .8em;
        width: 100%;
        margin: 10px 0;
        padding: 5px;
    }
    #aboutGrid #aboutSidebar article a
    {
        margin: 10px 0;
        text-decoration: none;
        width: 100%;
    }
    #newsGrid
    {
        margin-bottom: 25px;
    }
    #newsGrid article
    {
        -webkit-box-shadow: 0px 2px 3px 2px rgba(176,174,176,0.75);
        box-shadow: 0px 2px 3px 2px rgba(176,174,176,0.75);
        background-color: var(--primary-content-bg-color);
        display: grid;
        grid-row-gap: 10px;
        margin-top: 15px;
        margin-bottom: 50px;
        padding: 50px 10px 5px 10px;
        width: 65%;   
        word-break: break-all;   
    }

    #newsGrid article p {
        width: 90%;
    }

    #newsGrid article a
    {
        background-color: var(--bg-accent-color);
        color: var(--accent-text-color);
        height: 30px;
        justify-self: end;
        margin-top: 5px;
        padding: 5px 10px;
        text-decoration: none;
    }
    #newsGrid .pages
    {
        display: grid;
        width: 65%;
        justify-content: right;
    }

    #eventsView
    {
        display: grid;
        grid-row-gap: 15px;
        margin-bottom: 50px;
    }

    #eventsView article
    {
        -webkit-box-shadow: 0px 2px 3px 2px rgba(176,174,176,0.75);
        box-shadow: 0px 2px 3px 2px rgba(176,174,176,0.75);
        background-color: var(--primary-content-bg-color);
        display: grid;
        grid-row-gap: 10px;
        padding: 5px;
    }
    #eventsView article img
    {
        max-width: 60vw;
    }
    #eventsView article p
    {
        padding-right: 25px;
    }

    #eventsView article a
    {
        background-color: var(--btn-event-bg-color);
        width: 70px;
        justify-self: right;
        text-decoration: none;
    }

    #galleriesView
    {
        background-color: var(--primary-content-bg-color);
        display: grid;
        grid-row-gap: 15px;
        margin-bottom: 50px;
        margin-top: 15px;
    }

    .gallery-grid
    {
        display: grid;
        grid-template-columns: repeat(4,1fr);
        grid-column-gap: 35px;
        grid-row-gap: 25px;
    }

    .gallery-grid .album
    {
        background-color: var(--primary-content-bg-color);
        padding: 5px;
        position: relative;
    }

    .gallery-grid .album:hover
    {
        -webkit-box-shadow: 0px 2px 3px 2px rgba(176,174,176,0.75);
        box-shadow: 0px 2px 3px 2px rgba(176,174,176,0.75);
        cursor: pointer;
    }

    .gallery-grid .album .album-title
    {
        background-color: rgba(0,0,0,.5);
        color: var(--accent-text-color);
        position: absolute;
        padding: 5px;
        bottom: 10px;
        left: 5px;
        right: 5px;
        width: 90%;
    }

    #member
    {
        background-color: var(--primary-content-bg-color);
        margin: 15px 0;
        padding: 20px;
        width: 100%;
    }
    #member .price-item
    {
        display: flex;
        justify-content: space-between;
    }

    #productsView
    {
        background-color: var(--primary-content-bg-color);
        display: grid;
        grid-template-columns: 1fr;
        grid-row-gap: 5px;
        margin: 15px 0 50px 0;
        padding: 20px;
        width: 100%;
    }

    #productsView .product-header
    {
        
        display: grid;
        grid-template-columns: 5fr 2fr 1fr 2fr 2fr;
        grid-column-gap: 5px;
        margin-bottom: 10px;
    }

    #productsView .product-row
    {
       
        display: grid;
        grid-template-columns: 1fr;
        grid-row-gap: 5px;
    }

    #productsView .product-row .product-info
    {
        
        display: grid;
        grid-template-columns: 5fr 2fr 1fr 2fr 2fr;
        grid-column-gap: 5px;
        align-items: center;
    }

    #productsView .th-1-mobile,
    #productsView .th-2-mobile,
    #productsView .th-3-mobile,
    #productsView .th-4-mobile,
    #productsView .th-5-mobile
    {
        display: none;
    }

    #contactView
    {
        background-color: var(--primary-content-bg-color);
        margin: 15px auto;
        padding: 20px;
        width: 80%;
    }
    #contactView p
    {
        margin: 15px 0;
    }

    #contactView form
    {
        background-color: #eee;
        display: grid;
        grid-template-columns: 1fr;
        margin: 0 auto;
        padding: 10px;
        width: 350px;
    }

   
    #contactView form .input-field input,
    #contactView form .input-textarea textarea
    {
        margin: 5px 0;
        width: 100%; 
    }
    #contactView form .input-field input,
    #contactView form .input-textarea textarea
    {
        padding: 8px 5px;
    }

    #contactView form button
    {
        border: 0;
        background-color: #ccc;
        cursor: pointer;
        font-size: 1.1em;
        text-align: center;
        padding: 2px 0;
    }

    #contactView form .err-msg
    {
        margin: 5px 0;
    }

    #mapKontakt {
        height: 400px;
        width: 100%;
        position: relative;
        bottom: 0;
        left: 0;
        z-index: 0;
    }

    #loginView form
    {
        background-color: var(--primary-content-bg-color);
        display: grid;

        margin: 15px auto;
        padding: 20px;
        width: 50%;
    }

    #loginView h2{
        margin-bottom: 10px;
    }

    #loginView div
    {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
    }

    #loginView div input
    {
        margin: 5px 0;
        padding: 5px;
    }

    #loginView form button
    {
        cursor: pointer;
        font-size: 1.1em;
        justify-self: end;
    }

    #profileView
    {
        background-color: var(--primary-content-bg-color);
        display: grid;
        margin: 15px auto;
        padding: 20px;
        width: 80%;
    }

    #profileView .profile
    {
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-row-gap: 15px;
        width: 80%;
    }

    #profileView .profile p
    {
        margin: 5px 0;
    }

    #profileView .profile-img
    {
        max-width: 100px;
    }

    #profileView .profile-info
    {

    }

    #profileView .profile-events
    {

    }
}
@media screen and (max-width: 1100px) {
    .grid main nav
    {
        padding: 0 15vw;
    }
    .container
    {
        min-width: 60vw;
        max-width: 70vw;
    }
}
@media screen and (max-width: 960px) {
    .grid
    {
        
        grid-template-columns: minmax(5vw,8vw) auto minmax(5vw,8vw);
        grid-template-rows: 300px auto 50px;
        grid-template-areas: 
            "header header header"
            ". main ."
            "footer footer footer";
    }
    .grid header
    {
        background-position-y: 20px;
    }
    .grid main nav
    {
        padding: 0 3vw;
    }
    .container
    {
        min-width: 70vw;
        max-width: 80vw;
    }
    .grid footer
    {
        padding: 15px 10vw; 
    }
}

@media screen and (max-width: 768px) {
    .grid
    {
        
        grid-template-columns: 1fr;
        grid-template-rows: 200px auto 50px;
        grid-template-areas: 
            "header"
            "main"
            "footer";
    }
    .grid header
    {

        background-position-y: -50px;

    }
    .grid header #topHeader h1
    {
        font-size: 56px;
        font-weight: 500;
        margin-top: 50px;
    }
    .grid main nav
    {
        height: auto;
        grid-auto-flow:initial;
        grid-template-columns: repeat(4,1fr);
        justify-content: space-between;
        align-items: initial;
        padding: 10px 15px;
    }
    .grid main nav a
    {
        margin: 5px 0;
    }
    .container
    {
        min-width: 80vw;
        max-width: 90vw;
    }
    #aboutGrid
    {
        grid-template-areas: 
            "aboutContent"
            "usedProducts"
            "sideBar";
        grid-template-columns: 8fr 3fr;
        grid-column-gap: 15px;
    }
    .grid footer
    {
        height: 150px;
        padding: 15px 5px; 
    }
    .grid footer section
    {
        display: block;
        padding: 0 20px;
    }
}
@media screen and (max-width: 562px) {
    .grid
    {
        
        grid-template-columns: 1fr;
        grid-template-rows: 200px auto 150px;
        grid-template-areas: 
            "header"
            "main"
            "footer";
    }
    .grid header
    {
        background-position-y: initial;
    }
    .grid header #topHeader h1
    {
        font-size: 48px;
        font-weight: 500;
        margin-top: 20px;
    }
    .grid main nav
    {
        grid-template-columns: repeat(2,1fr);
        padding: 10px 15px;
    }


    #productsView .product-header
    {
        
        display: grid;
        grid-template-columns: 5fr 2fr 1fr 2fr 2fr;
        grid-column-gap: 5px;
        margin-bottom: 10px;
    }

    #productsView .th-1,
    #productsView .th-2,
    #productsView .th-3,
    #productsView .th-4,
    #productsView .th-5
    {
        display: none;
    }
    #productsView .th-1-mobile,
    #productsView .th-2-mobile,
    #productsView .th-3-mobile,
    #productsView .th-4-mobile,
    #productsView .th-5-mobile
    {
        display: initial;
    }
    #productsView .product-row
    {
       
        display: grid;
        grid-template-columns: 1fr;
        grid-row-gap: 5px;
    }

    #productsView .product-row .product-info
    {
        
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 5px;
        align-items: center;
    }
}