@import url('https://fonts.googleapis.com/css?family=Bitter|Peddana');
@import url('theme.css');
*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body
{
    background-color: var(--body-bg-color);
    font-family: 'Peddana', 'Bitter', Arial, Helvetica, sans-serif;
    max-width: 100vw;
    overflow-x: hidden;
}

img
{
    height: auto;
    width: 100%;
}

.btn-accent
{
    background-color: var(--bg-accent-color);
    color: var(--accent-text-color);
    padding: 5px;
    max-width: 100%;
    text-align: center;
}

@supports(display: grid)
{
    .grid
    {
        display: grid;
        grid-template-columns: 22vw auto 22vw;
        grid-template-rows: 400px auto 55px;
        grid-template-areas: 
            "header header header"
            ". main ."
            "footer footer footer";
    }

    .grid header
    {
        background: url('../media/header.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position:  center;
        background-position-y: -10px;
        grid-area: header;
        position: relative;
    }

    .grid header #topHeader
    {
        background-color: rgba(0,0,0, .25);
        display: grid;
        text-align: center;
        height: 100%;
        width: 100%;
    }
    
    .grid header #topHeader h1
    {
        color: var(--header-font-color);
        font-size: 82px;
        font-weight: 500;
        margin-top: 100px;
    }

    .grid header nav
    {
        background-color: var(--primary-nav-bg-color);
        display: flex;
        justify-content: space-between;
        padding: 15px 22vw;
        height: 50px;
        width: 100vw;
        position: absolute;
        bottom: 0;
        left: 0;
    }

    .grid header nav a
    {
        color: var(--primary-link-color);
        font-family: 'Bitter';
        text-decoration: none;    
    }

    .grid header nav a:hover
    {
        text-decoration: underline;
        text-decoration-color: var(--primary-link-active-color);
        /*border-bottom: 1px solid var(--primary-link-active-color);*/
    }

    .grid main
    {
        grid-area: main;
        width: 100%;
    }

    .grid footer
    {
        background-color: var(--footer-bg-color);
        color: var(--footer-text-color);
        font-family: 'Bitter';
        grid-area: footer;
        padding: 15px 22vw; 
    }

    .grid footer section
    {
        display: flex;
        justify-content: space-between;
        padding: 0 20px;
    }

    #aboutGrid
    {
        display: grid;
        grid-template-areas: 
            "aboutContent sideBar"
            "usedProducts sideBar";
        grid-template-columns: 8fr 3fr;
        grid-column-gap: 15px;
        font-family: 'Bitter';
        margin-top: 15px;
    }
    #aboutGrid #aboutContent
    {
        grid-area: aboutContent;
        background-color: var(--primary-content-bg-color);
        padding: 10px;
        margin-bottom: 15px;
    }
    #aboutGrid #aboutContent h1
    {
        margin-bottom: 10px;
    }
    #aboutGrid #usedProducts
    {
        background-color: var(--primary-content-bg-color);
        grid-area: usedProducts;
        margin-bottom: 15px;
        padding: 20px 10px;
    }
    #aboutGrid #usedProducts .products
    {
        display: flex;
    }
    #aboutGrid #usedProducts .products .product-item
    {
        display: flex;
        flex-direction: column;
        margin: 5px 20px;
    }
    #aboutGrid #usedProducts .products .product-item .product-info
    {
        background-color: var(--bg-accent-color);   
        color: var(--accent-text-color);
        padding: 5px;
    }    
    #aboutGrid #aboutSidebar
    {
        grid-area: sideBar;
    }
    #aboutGrid #aboutSidebar form
    {
        background-color: var(--bg-accent-color);
        padding: 5px;
        margin-bottom: 15px;
        width: 100%;
    }
    #aboutGrid #aboutSidebar form input
    {
        width: 100%;
        height: 30px;
        padding: 5px;
    }
    #aboutGrid #aboutSidebar article
    {
        background-color: var(--primary-content-bg-color);
        display: grid;
        grid-template-columns: 1;
        grid-row-gap: 5px;
        font-size: .6em;
        width: 100%;
        margin: 10px 0;
        padding: 5px;
    }
    #aboutGrid #aboutSidebar article a
    {
        margin: 10px 0;
        text-decoration: none;
        width: 100%;
    }
}
