:root
{
    --body-bg-color: #fafafa;
    --header-font-color: #fff;
    --primary-text-color: #000;
    --footer-bg-color: #333333;
    --footer-text-color: #fff;
    --bg-accent-color: #87ceeb;
    --primary-link-active-color: #87ceeb;
}